body {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    align-items:center;
   
}
.item h2 {
    text-align: center;
}
.item h2 span {
    display: block;
}

.item a {
    display: inline-flex;
    align-items:center;
    justify-content:center;
    min-height: 3rem;
    padding: 0 4rem;
    background-color: #794f45;
    color: #fff;
}